<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="manifest" href="../favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="../favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <title>ESS Explorer</title>

  <link rel="stylesheet" href="../../styles/normalize.css">
  <link rel="stylesheet" href="../../styles/fonts.css">
  <link rel="stylesheet" href="../../styles/styles.css">
</head>
<body>
  <div class="main-wrapper">
    <div>
      <header class="header">
        <div class="container inline-container">
          <div class="inline-container">
            <a href="/" class="main-logo">
              <span class="main-logo__icon icon-ess-logo"></span>
              <span class="main-logo__text">ESS Explorer</span>
            </a>
            <ul class="main-nav">
              <li class="main-nav__item">
                <a href="/"
                  class="main-nav__link">
                  Home
                </a>
              </li>
              <li class="main-nav__item">
                <a href="/accounts"
                  class="main-nav__link">
                  Accounts
                </a>
              </li>
              <li class="main-nav__item is-active">
                <a href="/tx/pending"
                  class="main-nav__link">
                  Pending Tx
                </a>
              </li>
              <li class="main-nav__item">
                <div class="dropdown">
                  <button class="dropdown__toggle main-nav__link">
                    <span class="dropdown__toggle-text">Tools</span>
                    <span class="dropdown__toggle-icon icon-chevron-down"></span>
                  </button>
                  <div class="dropdown__menu">
                    <ul>
                      <li class="dropdown__menu-item">
                        <div
                          class="dropdown__menu-link"
                          data-modal="sumit-raw-transaction-modal">
                          Submit Tx
                        </div>
                      </li>
                      <li class="dropdown__menu-item">
                        <div
                          class="dropdown__menu-link"
                          data-modal="verify-contract-source-modal">
                          Verify Contract
                        </div>
                      </li>
                      <li class="dropdown__menu-item">
                        <div
                          class="dropdown__menu-link"
                          data-modal="verify-signatures-modal">
                          Verify Signature
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <button class="search-btn icon-search js-search-btn"></button>
        </div>
      </header>
      <main>
        <div class="container">
          <div class="search-form-wrapper js-search-form">
            <form class="form search-form" method="POST" action="/search">
              <span class="search-form__icon icon-search"></span>
              <input type="text" name="search" placeholder="Tx Hash, Address, or Block#">
              <button class="btn">SEARCH</button>
            </form>
          </div>
          <% if (txs.length === 0) { %>
            <div style="text-align: center; font-size: 17px;">
              Chain contains no pending transactions.
            </div>
          <% } else { %>
            <div class="table-wrapper">
              <div class="table-wrapper__top">
                <div class="table-wrapper__title">
                  PENDING TRANSACTIONS
                </div>
              </div>
              <div class="table-blocks">
                <div class="table-blocks__tr">
                  <div class="table-blocks__th">Hash</div>
                  <div class="table-blocks__th">From</div>
                  <div class="table-blocks__th">To</div>
                  <div class="table-blocks__th">Amount</div>
                  <div class="table-blocks__th">Gas Fee</div>
                </div>
                <% txs.forEach(function(tx){ %>
                  <div class="table-blocks__tr">
                    <div class="table-blocks__td">
                      <a href="/tx/<%= tx.hash %>" class="hash-box u-link">
                        <%= tx.hash %>
                      </a>
                    </div>
                    <div class="table-blocks__td">
                      <a class="table-blocks__url" href="/account/<%= tx.from %>">
                        <%= tx.from %>
                      </a>
                    </div>
                    <div class="table-blocks__td">
                      <a class="table-blocks__url" href="/account/<%= tx.to %>">
                        <%= tx.to %>
                      </a>
                    </div>
                    <div class="table-blocks__td"><%= hexformatter(tx.value) %></div>
                    <div class="table-blocks__td"><%= hexformatter(parseInt(tx.gasPrice, 16) * parseInt(tx.value, 16) * parseInt(tx.gas, 16)) %></div>
                  </div>
                <% }) %>
              </div>
            </div>
            <div class="pagination">
              <button class="btn btn--secondary pagination__prev">Prev</button>
              <div class="pagination__pages">
                <div class="pagination__current-page">1</div>
                <div class="pagination__devider">of</div>
                <div class="pagination__all-pages">20</div>
              </div>
              <button class="btn btn--secondary pagination__next">Next</button>
            </div>
          </div>
        <% } %>
      </main>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="copyright">
          <div class="copyright__top">ESS Explorer <%= nodeStatus.version %></div>
          <div class="copyright__footer"><%= nodeStatus.nbrPeers %> peers</div>
        </div>
      </div>
    </footer>
  </div>

  <!-- modals -->
  <!-- add to the link of modal window
  the attribute 'data-modal' with id of the modal window-->
  <div class="modal" id="verify-contract-source-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container">
      <div class="modal__close">&times;</div>
      <div class="modal__title">Verify Contract Source</div>
      <form class="form">
        <div class="form__group">
          <label for="verify-contract-source-ess-address">ESS Address</label>
          <input type="text" id="verify-contract-source-ess-address">
        </div>
        <div class="form__group">
          <label for="verify-contract-source-contract-name">Contract Name</label>
          <input type="text" id="verify-contract-source-contract-name">
        </div>
        <div class="form__group">
          <label for="verify-contract-source-contract-source">Contract Source</label>
          <input type="text" id="verify-contract-source-contract-source">
        </div>
        <div class="form__group">
          <label for="verify-contract-source-compiler-version">Compiler Version</label>
          <div class="select">
            <span class="select__icon icon-chevron-down"></span>
            <select id="verify-contract-source-compiler-version">
              <option value="verifyCompilerVersion1">
                solijson-v0.4.20-nighty.2018.1.29
              </option>
              <option value="verifyCompilerVersion2">
                solijson-v0.4.20-nighty.2018.1.29
              </option>
              <option value="verifyCompilerVersion3">
                solijson-v0.4.20-nighty.2018.1.29
              </option>
            </select>
          </div>
        </div>
        <div class="form__btn">
          <button class="btn btn--large">VERIFY</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" id="verify-signatures-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container">
      <div class="modal__close">&times;</div>
      <div class="modal__title">Verify ESS Signatures</div>
      <form class="form">
        <div class="form__group">
          <label for="verify-signatures-ess-address">ESS Address</label>
          <input type="text" id="verify-signatures-ess-address">
        </div>
        <div class="form__group">
          <label for="verify-signatures-message">Message</label>
          <input type="text" id="verify-signatures-message">
        </div>
        <div class="form__group">
          <label for="verify-signatures-signature">Signature</label>
          <input type="text" id="verify-signatures-signature">
        </div>
        <div class="form__btn">
          <button class="btn btn--large">VERIFY</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" id="sumit-raw-transaction-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container">
      <div class="modal__close">&times;</div>
      <div class="modal__title">Sumit Raw Transaction</div>
      <form class="form">
        <div class="form__group">
          <label for="sumit-raw-transaction-signed-hex">Signed Transaction Hex</label>
          <input type="text" id="sumit-raw-transaction-signed-hex">
        </div>
        <div class="form__btn">
          <button class="btn btn--large">VERIFY</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal" id="block-view-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container modal__container--wide">
      <div class="modal__close">&times;</div>
      <div class="modal__title" id="singleBlockTitle"></div>
      <div class="modal__info" id="singleBlockContent"></div>
    </div>
  </div>
  <div class="modal" id="transaction-view-modal">
    <div class="modal__backdrop"></div>
    <div class="modal__container modal__container--wide">
      <div class="modal__close">&times;</div>
      <div class="modal__title">
        Transaction
      </div>
      <div class="modal__info" id="singleTransactionContent">
  
      </div>
    </div>
  </div>

  <script src="../scripts/common.js"></script>
</body>
</html>
